* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 1000px;
}
main .hero__background_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero__background_image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 37.5rem;
  content: url("./images/mobile/image-hero.jpg");
}
main .hero .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 5rem;
}
main .hero .header__nav {
  display: none;
}
main .hero .header__logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero .header__logo {
  width: 10rem;
}
main .hero .header__mobile_menu {
  position: fixed;
  top: 5.5rem;
  right: 2.8rem;
  background-color: hsl(0deg, 0%, 0%);
  width: 12rem;
  transform-origin: right top;
  transition: transform 0.25s ease-in-out;
  transform: scale(0);
}
main .hero .header__mobile_menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-bottom: 1.5rem solid hsl(0deg, 0%, 0%);
  top: -1.4rem;
  right: 0;
}
main .hero .header__mobile_menu_nav_container {
  list-style: none;
  padding: 1rem 0;
}
main .hero .header__mobile_menu_nav_container li {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero .header__mobile_menu_nav_container li a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
}
main .hero__content_container {
  padding: 0 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
main .hero__heading {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  border: 1px solid hsl(0deg, 0%, 100%);
  font-size: 10vw;
  width: 100%;
  max-width: 28rem;
  padding: 1.5rem;
  color: white;
}

@media screen and (min-width: 460px) {
  .hero__heading {
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 768px) {
  main .hero__heading {
    line-height: 1.2;
    font-size: 3.8rem !important;
    max-width: 35rem;
  }
  main .hero__background_image {
    content: url("./images/desktop/image-hero.jpg") !important;
    filter: brightness(0.7);
    min-height: 34rem;
    max-height: 38rem;
  }
  main .hero__background_container {
    overflow: hidden;
  }
  main .hero .header__toggler_container {
    display: none;
  }
  main .hero .header__logo {
    width: 12rem;
  }
  main .hero .header__nav {
    display: flex;
  }
  main .hero .header__nav ul {
    display: flex;
    list-style: none;
  }
  main .hero .header__nav ul li {
    padding: 0 1rem;
  }
  main .hero .header__nav ul li:hover a {
    color: #ccc;
  }
  main .hero .header__nav ul li a {
    color: hsl(0deg, 0%, 100%);
    font-family: "Alata", Arial;
    text-decoration: none;
    font-size: 1.2rem;
  }
}
.sections-wrapper {
  max-width: 1000px;
  margin: 3rem auto;
}

.intro {
  margin: 0 auto;
  padding: 2rem;
  max-width: 30rem;
}
.intro__background_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__background_image {
  width: 100%;
}
.intro__content {
  padding: 1.5rem;
  text-align: center;
}
.intro__heading {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.15rem;
  margin: 1.2rem 0;
}
.intro__para {
  color: hsl(0deg, 0%, 55%);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 5rem;
    max-width: 768px;
    max-width: 1100px;
    position: relative;
  }
  .intro__background_container {
    justify-content: flex-start;
  }
  .intro__background_image {
    align-items: flex-end;
    height: 100%;
    width: 100%;
    overflow: hidden;
    width: 100%;
    max-width: 650px;
  }
  .intro__content {
    padding: 2rem 0 0 3rem;
    text-align: start;
    width: 20rem;
    position: absolute;
    background-color: #fff;
    bottom: 5rem;
    right: 5rem;
  }
  .intro__heading {
    font-size: 2.125rem;
  }
  .intro__para {
    font-size: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .intro__content {
    width: 32rem;
  }
  .intro__heading {
    font-size: 2.5rem;
  }
  .intro__para {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */