.header
{

    &__wrapper
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding: 0 2rem;
        top: 0;
        height: 5rem;
    }

    &__nav
    {
        display: none;
    }

    &__logo_container
    {
        @include center;
    }
    
    &__logo
    {
        width: 10rem;
    }

    &__mobile_menu
    {
        position: fixed;
        top:5.5rem;
        right:2.8rem;
        background-color: $black;
        width: 12rem;
        transform-origin: right top;
        transition: transform .25s ease-in-out;
        transform: scale(0);

        &::before
        {
            content: '';
            position: absolute;
            width: 0; 
            height: 0; 
            border-left: 1rem solid transparent;
            border-bottom: 1.5rem solid $black;
            top:-1.5rem;
            right:0;
        }

        &_nav_container
        {
            list-style: none;
            padding: 1rem 0;

            & li
            {
                padding: 1rem;
                width: 100%;
                @include center;
            }

            & li a
            {
                color: $white;
                text-decoration: none;
            }
        }
    }

}

@media screen and (min-width: 768px)
{
    .header
    {

        width: 100%;
        @include center;

        &__wrapper
        {
            height: 6rem;
            max-width: 62.5rem;
            margin: 0 auto;
        }

        &__toggler_container
        {
            display: none;
        }

        &__logo
        {
            width: 12rem;
        }

        &__nav
        {
            display: flex;

            & ul
            {
                display: flex;
                list-style: none;

                & li
                {
                    padding: 0 1rem;

                    &:hover a
                    {
                        color: $darkGray
                    }

                    & a
                    {
                        color: $white;
                        font-family: $primaryFont;
                        text-decoration: none;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}