$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);
$primaryFont: "Alata", Arial;
$secondaryFont: "Josefin Sans", sans-serif;
$heroBp: 768px;
$heroMax: 1000px;
$mobileMax: 30rem;